# The certs folder is part of the structure but the contents 
# should never be saved to the repo, so forbid all except a 
# .keep file to maintain the folder
certs/*
!certs/.keep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Data files
*.gz
*.zip
*.dat
*.tif
*.tiff
*.tiff.aux.xml
*.[Rr]data
*.[Rr]da
*.asc
*.nc

# Other files
.DS_Store

# Do not track the `incoming` folder
incoming
